@import '@libs/styles/lib/index.css';

@tailwind components;
@layer components {
  [contenteditable='true']:empty:before {
    content: attr(data-placeholder);
    @apply text-gray-500;
  }
  .toast-bottom-enter {
    animation: toast-bottom-enter 0.2s ease-out both;
  }
  .message-date {
    &::before {
      position: absolute;
      z-index: 0;
      content: '';
      height: 1px;
      width: 100%;
      right: 0;
      left: 0;
      top: 49%;
      @apply bg-gray-500;
    }
  }
  /* icons */
  .icon-log-out {
    @apply hover:stroke-red-600;
  }
}

@tailwind utilities;
