@import 'react-toastify/dist/ReactToastify.css';
@import '@libs/styles/lib/index.css';

@tailwind components;
@layer components {
  [contenteditable='true']:empty:before {
    content: attr(data-placeholder);
    @apply text-gray-500;
  }
  .toast-bottom-enter {
    animation: toast-bottom-enter 0.2s ease-out both;
  }
  @keyframes toast-bottom-enter {
    0% {
      opacity: 0.3;
      transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  .toast-botttom-exit {
    animation: toast-bottom-exit 0.2s ease-out both;
  }
  @keyframes toast-bottom-exit {
    0% {
      opacity: 1;
      transform: translateY(0rem);
    }
    100% {
      opacity: 0.3;
      transform: translateY(2rem);
    }
  }
  .toast-top-enter {
    animation: toast-enter 0.2s ease-out both;
  }
  @keyframes toast-top-enter {
    0% {
      opacity: 0.3;
      transform: translateY(-2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  .toast-top-exit {
    animation: toast-exit 0.2s ease-out both;
  }
  @keyframes toast-top-exit {
    0% {
      opacity: 1;
      transform: translateY(0rem);
    }
    100% {
      opacity: 0.3;
      transform: translateY(-2rem);
    }
  }
  /* icons */
  .icon-log-out {
    @apply hover:stroke-red-600;
  }
}

@tailwind utilities;
